body {
    margin: 0;
    background-color: #3a506b;
}

.right-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0vw; /* Adiciona padding para ficar mais perto das margens */
}

.card-login {
    width: 30%;  /* Ajuste a largura para algo menor para ficar mais perto da borda */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #5bc0be;
    border-radius: 20px;
    box-shadow: 0px 10px 40px white;
}

.card-login > h1 {
    font-weight: 800;
    margin: 0;
}

.textfield {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 12pt;
    box-shadow: 0px 10px 40px rgb(209, 197, 197);
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: black;
    margin-bottom: 10px;
}

.textfield > input::placeholder {
    color: gray;
}
.btn-container {
    display: flex;
    flex-direction: column;
    gap: 15px;  /* Adiciona um pequeno espaçamento entre os botões */
    width: 100%;
    align-items: center;
}
.btn-login {
    width: 30vw;
    padding: 16px 0px;
    margin: 9px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    background-color: white;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px white;
}

@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;  /* Já estava configurado para ser 85% em telas pequenas */
    }
    
}
